p{
    color: grey;
    background: salmon;
    font-style: italic;
}

#box{
    width: 100px;
    height: 100px;
    background: sandybrown;
}

.boxx{
    width: 100px;
    height: 100px;
    background: aquamarine;
    margin: 10px;
    padding: 10px;
    border: 2px solid skyblue;
    float:left;
    position: relative;
    position: absolute;
    top:0px;
    bottom: 0px;
}

#dod{
    
}